<div class="row justify-content-start">
  <div class="col-3">
    <h1>Spendings</h1>
  </div>
</div>
<div class="row pt-5 justify-content-start">
  <div class="col-9">
    <%= form_with url: spendings_path, method: :get, data: { turbo_frame: "spendings", turbo_action: "advance", controller: "form", action: "input->form#submit" } do %>
      <%= text_field_tag "filter", nil, placeholder: "Filter", class: ""%>
    <% end %>
    <%= link_to "Clear filters", spendings_path, class: "text-decoration-none link-dark"%>
  </div>
  <div class="col-2">
    <%= link_to "New spending", new_spending_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
  </div>
</div>

<div id="spendings" class="pt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <% @spendings.each do |spending| %>
        <tr scope="row">
          <td style="width: 25%">
            <%= spending.description %>
          </td>
          <td style="width: 25%">
            <%= spending.amount %> uah
          </td>
          <td style="width: 25%">
            <%= spending.spending_category.title %>
          </td>
          <td style="width: 25%">
            <%= link_to "Delete", spending, class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
            <%= link_to "Edit", edit_spending_path(spending), class: "btn btn-success btn-block", data: { turbo_frame: "remote_modal" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-start">
    <div class="col-9">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    <div class="col-3">
      Total amount of spendings: <div class="fw-bold"><%= @result[:user_spendings].pluck(:amount).sum %> uah</div>
    </div>
  </div>
</div>

<h2 class="pt-2">Share my spendings to</h1>
<%= form_with(url: "send_spendings", method: :get, local: true) do |f| %>
  <div class="mb-3">
    <%= f.select(:user_ids, @users.collect {|p| [ p.name, p.id ] }, 
                                           {},
                                           { multiple: true, include_blank: false, class: "form-select"}) %>
  </div>
  <div class="mb-3">
    <%= f.submit "Send", class: "btn btn-success" %>
  </div>
<% end %>